<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>    
    </head>
    <body>

    <h1>Hello World, this is a demo</h1>

    <h1>Version: {{ version }}</h1>

    <h1>Region: {{ region }}</h1>

    {% if service %}
    <h1>Service: {{ service }}</h1>
    {% endif %}

    <h1>Path: {{ path }}</h1>

    <h2>Environment Variables</h2>
    <table>
        {% for k, v in environ.items() %}
        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}
    </table>

    {% if dbconnected %}
    <h2>MySQL UserAgent table</h2>
    <table>
        {% for ua in useragents %}
        <tr><td>{{ ua.date }}</td><td>{{ ua.useragent }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if s3 %}
    <h2>S3 response</h2>
    <table>
        {% for k, v in s3.items() %}
        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if sqs %}
    <h2>SQS response</h2>
    <table>
        {% for k, v in sqs.items() %}
        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
     
    </body>
</html>
